<!DOCTYPE html>
<html lang="en">
<head>
    {% load static crispy_forms_filters %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ form.instance.pk|default:"Create Newspaper" }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'includes/sidebar.html' %}
    <main>
        <div class="container">
            <h1>{{ form.instance.pk|default:"Create Newspaper" }}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/newspapers/" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
